h1 {
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 40px;
    font-family: 'Balsamiq Sans', cursive;
    color: darkorange;
}


ul {
    list-style-type: none;
    margin-left: 35%;
    padding: 0;
    overflow: hidden;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: lightcoral;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:lightcoral;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: gray;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }



  .slideshow-container{
      overflow: hidden;
      height: 500px;
      width: 600px;
      margin-left: 380px;
      border-style: double;

  }

  .image-container{
      
      width:500%;
      height: 200px;
      position: relative;
      margin: 0;
      left: 0;
      animation: 20s slider infinite;
  }

  .slider-image{
      float: left;
      width: 20%;
  }

  @keyframes slider{ 
    0% {
        left: 0;
    } 
    20% {
        left: 0;
    }

    25% {
        left:-100%;
    }
    45% {
        left:-100%
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left:-300%;
    }
    100% {
        left: -400%;
    }}


h2 {
    font-size: 40px;
    font-family: 'Balsamiq Sans', cursive;
    color: darkorange;

}

.item {
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 10px gray;
  width: 18vw;
  height: 25vw;
  padding: 20px;
}

item:hover {
  transform: scale(1.1);
}

.boximg {
  width: 100%;
  height: 70%;
}

.gallery{
  display:flex;
  justify-content: space-between;
}

.description {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: darkorange;
  font-weight: bold;
}

a:link{
  text-decoration: none;
  color: darkorange;
}

a:visited{
  text-decoration: none;
  color: darkorange;
}




.footer{
  margin-top: 20px;
  font-family: 'Balsamiq Sans', cursive;
  color: darkorange;
  background-color: lightgray;
  border-radius: 25px;
  border: 1px solid black;
  padding: 20px;
  width: auto;
  height: 150px;

}

#subject{
  width: 80%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

